<!-- Here's the DIV that we inject the map into -->

<!-- Bara de căutare -->
<!-- <mat-toolbar color="primary">
    <mat-form-field appearance="fill">
        <mat-label>Caută</mat-label>
        <input matInput placeholder="Introduceți termenul de căutare">
        <button mat-button matSuffix mat-icon-button aria-label="Căutare">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
</mat-toolbar> -->

<button mat-icon-button (click)="navigateBack()" class="back-button">
    <mat-icon>arrow_back</mat-icon>
</button>  

<div fxLayout="row">
    <div fxFlex="20%" fxLayout="column">
        <mat-list>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
    <div fxFlex="80%">
        <div #mapViewNode></div>
    </div>
</div>