<div class="register-page">
	<button mat-icon-button (click)="navigateBack()" class="back-button">
			<mat-icon>
				<img src="assets/icons/back.png" alt="Back">
			</mat-icon>
	</button>

	
		<form class="register-form">
			<mat-form-field class="input-full-width">
				<mat-label>Email</mat-label>
				<input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
				<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
					Te rog introdu o adresă de email validă
				</mat-error>
				<mat-error *ngIf="emailFormControl.hasError('required')">
					Email-ul este <strong>necesar</strong>
				</mat-error>
			</mat-form-field>
	
			<mat-form-field class="input-full-width">
				<mat-label>Parola</mat-label>
				<input matInput [formControl]="passwordFormControl" placeholder="Ex. ********">
				<mat-error *ngIf="passwordFormControl.hasError('required')">
					Parola este <strong>necesara</strong>
				</mat-error>
			</mat-form-field>

            <mat-form-field class="input-full-width">
				<mat-label>Confirmă parola</mat-label>
				<input matInput [formControl]="passwordConfirmFormControl" placeholder="Ex. ********">
				<mat-error *ngIf="passwordConfirmFormControl.hasError('required')">
					Parola este <strong>necesara</strong>
				</mat-error>
			</mat-form-field>
	
			<button mat-raised-button class="auth-button" (click)="onRegister()">Înregistrare</button>
		</form>
	</div>
	